/* ============= WebBuilder.css =========== */

body {
  background-color: #aaaaaa;
  color: #433126;
  text-align: center;
}

input[type="button"] {
  background-color: #fecb5e; 
  box-shadow: 2px 2px 10px #888888;
  margin: 2px 5px;
  padding: 2px 4px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #fee9aa;
  border-radius: 5px;
  color: #624838;
  height: 24px;
}

input[type="submit"] {
  background-color: #fecb5e; 
  box-shadow: 2px 2px 10px #888888;
  margin: 2px 5px;
  padding: 2px 4px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #fee9aa;
  border-radius: 5px;
  color: #624838;
  height: 24px;
}

select {
  background-color: #fecb5e; 
  box-shadow: 2px 2px 10px #888888;
  margin: 2px 5px;
  padding: 2px 4px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #fee9aa;
  border-radius: 5px;
  color: #624838;
  font: 13px sans-serif;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

.divWBTitle {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

.divWBTile {
  margin: 10px;
  max-width: 400px;
  min-width: 250px;
  width: 45%;
  height: 300px;
  border: 1px solid #888888;
  background-color: #cccccc;
  display: inline-block;
  vertical-align: middle;
  overflow: auto;
}

.divWBFooter {
  text-align: center;
  font-size: 12px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  background-color: #aaaaaa;
  margin: 0;
  padding: 5px;
}

.divWBGauge {

}

.divWBHisto {
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.divWBHistoSample {
  position: absolute;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.divWBGauge {
  background-color:rgba(255, 255, 255, 0.0);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
  position: relative;
  top: 0px;
  left: 0px;
  color: transparent;
}

.divWBGaugeBack {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 0, 0, 1);
}

.divWBGaugeFront {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
}

.divWBAccessMap {
  width: 350px;
  height: 200px;
  background-image: url('../Img/map.jpg');
  background-size: 100% 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
}

.divWBAccessMap img {
  position: absolute;
  width: 5px;
  height: 5px;
  content: url('../Img/Icons/yellowDot.png');
}

.divWBAccessTileTitle {
  padding: 5px;
  font-weight: bold;
}

.divWBAccessTileContent {
  padding: 5px;
  text-align: left;
}

.divWBAccessTileSubContent {
  padding: 15px;
  text-align: left;
}

.divWBLogin {
  margin: 30px;
}

#divWBLogger {
  height: 150px;
}

.divWBLoginLabel {
  display: inline-block;
  text-align: right;
}

.divWBLoginInput {
  display: inline-block;
  text-align: left;
}

.divWBDBEditor {
  width: 100%;
  text-align: center;
}

.divWBDBEditorTitle {
  font-size: 18px;
  width: 90%;
  padding: 5px;
}

.divWBDBEditorCtrl img {
  height: 40px;
}

.divWBDBEditorPosition {
  margin-top: 5px;
  margin-bottom: 5px;
}

.divWBDBEditorFieldLbl {
  display: inline-block;
  width: 24%;
}

.divWBDBEditorFieldData {
  display: inline-block;
  width: 74%;
  text-align: left;
  padding-left: 5px;
}

.divWBDBEditorFieldData input {
  width: 90%;
}
